.container{
    margin-left: 2em;
    margin-top: 1em;
}

.listItem{
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding: 15px 10px;
}

.listItem span{
    cursor: pointer;
    color: #a1a1a1;
}